$color-light: #f7f7f7;
$color-blue: #4baaec;
$color-dark: #333;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == midScreen {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

@media (max-width: 500px) {
  html {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  background-color: $color-light;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

.nav {
  height: 100vh;
  width: 22%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-dark;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.7);
  padding: 2rem;

  &__list {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
    list-style-type: none;
    font-size: 2.1rem;
    letter-spacing: 1px;

    .link,
    .link:visited,
    .link:active {
      color: #fff;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $color-blue;
      }
    }
  }

  @include respond(midScreen) {
    width: 40%;
  }
}

.container {
  width: 78%;
  margin-left: auto;

  @include respond(midScreen) {
    width: 60%;
  }
}

.box {
  background-color: $color-dark;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.7);
}

.header {
  width: 85.5%;
  min-width: 25rem;
  height: 14.5rem;
  margin: auto;
  margin-top: 7rem;
  font-size: 7rem;
  letter-spacing: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  @include flex-center;

  @include respond(midScreen) {
    margin-top: 2rem;
  }
}

.quote {
  width: 28%;
  min-width: 25rem;
  height: 13rem;
  margin: auto;
  margin-top: 7rem;
  padding: 2rem;
  line-height: 1.6;
  @include flex-center;

  &__text {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
  }

  @include respond(midScreen) {
    margin-top: 2rem;
  }
}

.center {
  display: flex;
  margin: auto;
  margin-top: 5rem;
  justify-content: space-around;
  width: 85.5%;

  
    .aside {
      width: 15%;
      height: 100vh;
    }
  

  .main-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    &__card {
      width: 38%;
      height: 25rem;
    }

    &__article {
      width: 70%;
      height: 40rem;
      margin-top: 5rem;
    }
  }
}
